* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #1a1a1a;
    color: #fff;
}
.header {
    background-color: #3b2f2f; 
    color: #fff;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
    border-bottom: 2px solid #a7856a; 
}

.header h1 {
    font-size: 2rem; 
}

.header p {
    font-size: 1rem; 
    margin-top: 0.2rem; 
}


.about-content {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #4b3f3f;
    border-radius: 8px;
    box-shadow: 0 0 10px #4b3f3f;
}

.about-section {
    margin-bottom: 1.5rem;
}

.about-section h2 {
    font-size: 1.8rem;
    color: #a7856a;
    margin-bottom: 0.5rem;
}

.about-section p {
    margin-bottom: 1rem;
    color: #fff;
}


.about-section ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.about-section ul li {
    margin-bottom: 0.5rem; 
}

.footer {
    background-color: #4b3f3f;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    box-shadow: 0 0 10px #4b3f3f;
}

.footer p {
    margin: 0;
}
